#one{
    background-color: tomato;
    height: 200px;
}
#two{
    background-color: rgb(172, 71, 255);
    height: 200px;
}
#three{
    background-color: rgb(71, 255, 178);
    height: 200px;
}
#four{
    background-color: rgb(108, 255, 71);
    height: 200px;
}
#five{
    background-color: rgb(255, 71, 71);
    height: 200px;
}
#six{
    background-color: rgb(71, 99, 255);
    height: 200px;
}
.btn-warning{
    background-color: hotpink !important
}
.glyphicon-trash{
    font-size: 30px;
    color:red;
}
.navbar-inverse{
    background-color: indigo;
}